a:link {
    text-decoration: none;
    color: #2aa198;
}

a:visited {
    color: #657B83;
}

a:hover {
    border-bottom: 1px dotted #2aa198;
}

a:active {}

body {
    line-height: 1.5em;
    color: #333;
}

h1, h2, h3 {
    line-height: 1.5em;
}

ul.posts li {
    text-transform: lowercase;
}

.date {
    font-style: italic;
}

.disqus-outer {
    margin-top: 1em;
    padding: 1em;
    background-color: whitesmoke;
}

.disqus-outer h2 {
    margin-top: 0;
    margin-bottom: 1em;
}

footer {
    background-color: whitesmoke;
}